.Cards{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;

    @include mobile{
        gap: 32px;
        padding: 32px 0px;
    }
}

.Card{
  width: 200px;
  height: 200px;
  background: variables.$color_white;
  margin: 28px 0 28px 0;
  padding: 22px;
  box-shadow: 0px 4px 10px 5px rgba(128, 147, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  view-timeline-name: --card;
  view-timeline-axis: block;

  animation-timeline: --card;
  animation-name: fadeCard;

  animation-range: entry 0% cover 50%;
  animation-fill-mode: both;

  @include mobile{
      width: 80%;
      margin: 0px auto;
      box-shadow: 0px 4px 10px 5px rgba(128, 147, 255, 0.25) !important;
  }

  @include tablet{
      width: 30%;
      box-shadow: 0px 4px 10px 5px rgba(128, 147, 255, 0.25) !important;
  }

  .icon{
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 5px rgba(128, 147, 255, 0.5));
    animation: floatingElement 2.5s calc(1s * var(--index)) infinite;

    @include tablet{
        width: 45px;
        height: 45px; 
        margin-bottom: 10px;
    }

    &.icon-nodejs{
        width: 52px;
        height: 49px;
    }

    &.icon-sass{
        width: 74px;
        height: 49px;
    }

    &.icon-nextjs{
        width: 92px;
        height: 33px;
    }

    &.icon-less{
            width: 80px;
            height: 80px;
    }
  }
}