.icon{
    content: '';
    background: #FFF;
    height: 25px;
    width: 25px;
    position: relative;
    z-index: 1;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

// ? SVG un solo color
// {
//     -webkit-mask-image: url('../../../public/svg/.svg');
//     mask-image: url('../../../public/svg/.svg') 
// }

// ? SVG con colores
// {
//     background-color: transparent;
//     background-image: url('../../../public/svg/.svg');
// }

.icon-menu{
    background-color: transparent;
    background-image: url('../../../public/svg/IconMenu.svg');
}

.icon-user{
    background-color: transparent;
    background-image: url('../../../public/svg/IconUSer.svg');
}

.icon-skills{
    background-color: transparent;
    background-image: url('../../../public/svg/IconSkills.svg'); 
}

.icon-idea{
    background-color: transparent;
    background-image: url('../../../public/svg/IconIdea.svg');  
}

.icon-send{
    background-color: transparent;
    background-image: url('../../../public/svg/IconSend.svg');
}

.icon-nodejs{
    background-color: transparent;
    background-image: url('../../../public/svg/IconNode.svg');
}

.icon-react{
    background-color: transparent;
    background-image: url('../../../public/svg/IconReact.svg');
}

.icon-nextjs{
    background-color: transparent;
    background-image: url('../../../public/svg/IconNextjs.svg');
}

.icon-sass{
    background-color: transparent;
    background-image: url('../../../public/svg/IconSass.svg');
}

.icon-less{
    background-color: transparent;
    background-image: url('../../../public/svg/IconLess.svg');
}

.icon-redux{
    background-color: transparent;
    background-image: url('../../../public/svg/IconRedux.svg');
}

.icon-postgresql{
    background-color: transparent;
    background-image: url('../../../public/svg/IconPostgresql.svg');
}

.icon-mongodb{
    background-color: transparent;
    background-image: url('../../../public/svg/IconMongoDB.svg');
}

.icon-orm{
    background-color: transparent;
    background-image: url('../../../public/svg/IconOrm.svg');
}

.icon-email{
    background-color: transparent;
    background-image: url('../../../public/svg/IconEmail.svg');
}

.icon-linkedin{
    background-color: transparent;
    background-image: url('../../../public/svg/IconLinkedin.svg');
}

.icon-github{
    background-color: transparent;
    background-image: url('../../../public/svg/IconGithub.svg');
}

.icon-download1{
    -webkit-mask-image: url('../../../public/svg/IconFileDownload.svg');
    mask-image: url('../../../public/svg/IconFileDownload.svg')
}

.icon-check{
    -webkit-mask-image: url('../../../public/svg/IconCheck.svg');
    mask-image: url('../../../public/svg/IconCheck.svg')
}