.Menu{
    position: absolute;
    height: 100vh;
    right: -600px;
    top: 0;
    background-color: variables.$color_white;
    box-shadow: -4px 0px 12px 4px rgba(128, 147, 255, 0.1);
    list-style: none;
    padding: 160px 80px 130px 40px;
    display: flex;
    flex-direction: column;
    gap: 56px;

    &.enabled{
        right: 0;
        animation: fadeFromRight 0.5s;
    }
    

    &.disabled{
        animation: hideFromRight 0.5s;
    }

    @include mobile{
        gap: 40px;
        padding: 100px 20px 0px 10px;
    }

    li{
        font-size: 24px;
        font-family: variables.$fontBold;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.25s;

        @include mobile{
            font-size: 16px;
        }

        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgba(variables.$color7,0.8);

            &:hover{
                .icon{
                    transform: scale(1.2);
                    filter: drop-shadow(0px 4px 2px rgba(128, 147, 255, 0.50));
                    transition: all 0.25s;
                }
    
                color: variables.$color2;
            }
        }

        &.active{
            .icon{
                transform: scale(1.2);
                filter: drop-shadow(0px 4px 2px rgba(128, 147, 255, 0.50));
                transition: all 0.25s;
            }

            a {
                color: variables.$color2 !important;
            }
        }

        

        .icon{
            background-color: transparent;
            width: 60px;
            height: 50px;
            margin-right: 10px;
            transition: all 0.25s;

            @include mobile{
                width: 40px;
                height: 30px;
            }

            &.icon-user{
                margin-left: 6px;
                margin-right: 5px;

                @include mobile{
                    margin-left: 3px;
                    margin-right: 7px;
                }
            }

            &.icon-skills{
                margin-bottom: -6px;
                margin-left: -2px;
                margin-right: 13px;
            }
        }
    }
}