*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
    background: variables.$color_white;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../fonts/Lato-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../../fonts/Lato-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../../fonts/Lato-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Thin';
    src: url('../../fonts/Lato-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('../../fonts/Lato-ThinItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../../fonts/Lato-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../../fonts/Lato-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../../fonts/Lato-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}